.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
}
.modal__container {
  position: relative;
  background-color: rgb(238, 238, 238);
}
.modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.container {
  display: flex;
  width: 800px;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 5px;
}
.container__nav {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  border-right: 1px solid rgb(177, 179, 177);
  border-radius: 5px;
  margin: 20px;
  padding: 10px;
}
.container__main {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
  margin-right: 40px;
}
.hidden__tasks {
  display: none;
}
.input__main {
  width: 600px;
  height: 300px;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  gap: 20px;
  border-radius: 10px;
  padding-top: 40px;
}
.input__btn {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.theme__task {
  margin-top: 10px;
  width: 70%;
  height: 25px;
  border-radius: 5px;
  border: none;
  background-color: rgb(247, 247, 247);
  padding-left: 20px;
  cursor: pointer;
  margin-left: 30px;
}
.input {
  width: 70%;
  height: 25px;
  border-radius: 5px;
  border: none;
  background-color: rgb(247, 247, 247);
  padding-left: 20px;
  cursor: pointer;
  margin-left: 30px;
}
.select__level {
  height: 25px;
  width: 200px;
  text-align: center;
  border: none;
  cursor: pointer;
  margin-left: 30px;

}
.btn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 5px;
  cursor: pointer;
}
.btn:hover {
  border: 1px solid black;
}
.green {
  background-color: green;
}
.yellow {
  background-color: rgb(225, 222, 27);
}
.red {
  background-color: red;
}
.gray {
  background-color: rgb(225, 225, 225);
}
.li__task {
  display: flex;
  gap: 20px;
  max-width: 400px;
  margin: 10px;
}
.tasks{
  display: flex;
  align-items: center;
  gap: 20px;
}
.btn__del-task {
  margin-left: 20px;
  background: none;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 5px;
}
.btn__del-task:hover {
  border: 1px solid black;
}
.btn_controls {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.circle {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50px;
}

.search {
  margin-left: 40px;
  border: 1px solid rgb(224, 224, 224);
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.select__sort-tasks {
  width: 200px;
  margin-left: 40px;
  border: 1px solid rgb(224, 224, 224);
  padding: 4px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

